<section class="w-1/2 mx-auto bg-gray-100 p-4 rounded-lg border border-gray-200 shadow my-7">
    <h1 class="text-3xl font-bold text-green-600 text-center">Forgot Password</h1>
    @if ( this.Step == 1 ) {
    <form [formGroup]="VerifyEmail" (ngSubmit)="VerifyEmailSubmit()">
        <div class="mb-2">
            <label for="email" class="block mb-1 text-sm font-medium text-gray-700 ">E-mail</label>
            <input formControlName="email" type="email" id="email" formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-100 focus:border-green-500 block w-full p-2.5 ">
            @if ( VerifyEmail.get('email')?.errors && VerifyEmail.get('email')?.touched ) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class=" list-disc list-inside">
                        @if ( VerifyEmail.get('email')?.getError('required') ) {
                        <li>Email is Required!</li>
                        }
                        @else if ( VerifyEmail.get('email')?.getError('email') ) {
                        <li>Enter a Valid Email!</li>
                        }
                    </ul>
                </div>
            </div>
            }
            <div class="flex justify-center">
                <button [disabled]="VerifyEmail.invalid"
                    class="disabled:bg-gray-400 bg-green-600 text-gray-50 p-1 px-4 mt-5 rounded-lg cursor-pointer hover:bg-green-700 duration-300">Verify
                    E-mail</button>
            </div>
        </div>

    </form>
    }
    @else if (this.Step == 2) {
    <form [formGroup]="VerifyCode" (ngSubmit)="VerifyCodeSubmit()">
        <div class="mb-2">
            <label for="resetCode" class="block mb-1 text-sm font-medium text-gray-700 ">Reset Code</label>
            <input formControlName="resetCode" type="text" id="resetCode" formControlName="resetCode"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-100 focus:border-green-500 block w-full p-2.5 ">
            @if ( VerifyCode.get('resetCode')?.errors && VerifyCode.get('resetCode')?.touched ) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class=" list-disc list-inside">
                        @if ( VerifyCode.get('resetCode')?.getError('required') ) {
                        <li>Reset Code is Required!</li>
                        }
                        @else if ( VerifyCode.get('resetCode')?.getError('pattern') ) {
                        <li>It must be 6 chars [0-9]!</li>
                        }
                    </ul>
                </div>
            </div>
            }
            <div class="flex justify-center">
                <button [disabled]="VerifyCode.invalid"
                    class="disabled:bg-gray-400 bg-green-600 text-gray-50 p-1 px-4 mt-5 rounded-lg cursor-pointer hover:bg-green-700 duration-300">Verify
                    Code</button>
            </div>
        </div>

    </form>
    }
    @else if ( this.Step == 3 ) {
    <form [formGroup]="ResetPassword" (ngSubmit)="SetNewPasswordSubmit()">
        <div class="mb-2">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-700 ">E-mail</label>
            <input readonly formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-100 focus:border-green-500 block w-full p-2.5 ">
            @if ( ResetPassword.get('email')?.errors && ResetPassword.get('email')?.touched ) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class=" list-disc list-inside">
                        @if ( ResetPassword.get('email')?.getError('required') ) {
                        <li>Email is Required!</li>
                        }
                        @else if ( ResetPassword.get('email')?.getError('email') ) {
                        <li>Enter a Valid Email!</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
        <div class="mb-2">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-700 ">New Password</label>
            <input formControlName="newPassword" type="password" id="newPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-100 focus:border-green-500 block w-full p-2.5 ">
            @if (ResetPassword.get('newPassword')?.errors && ResetPassword.get('newPassword')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class=" list-disc list-inside">
                        @if ( ResetPassword.get('newPassword')?.getError('required') ) {
                        <li>Password is Required!</li>
                        }
                        @else if ( ResetPassword.get('newPassword')?.getError('minlength') ) {
                        <li>must be at least 8 chars!</li>
                        }
                        @else if ( ResetPassword.get('newPassword')?.getError('pattern') ) {
                        <li> password must start with upperCase and any numbers!</li>
                        }
                    </ul>
                </div>
            </div>
            }
            <div class="flex justify-center">
                <button [disabled]="ResetPassword.invalid"
                    class="disabled:bg-gray-400 bg-green-600 text-gray-50 p-1 px-4 mt-5 rounded-lg cursor-pointer hover:bg-green-700 duration-300">Reset
                    Password</button>
            </div>
        </div>

    </form>

    }
</section>