<section class="w-1/2 mx-auto bg-gray-100 p-4 rounded-lg border border-gray-200 shadow my-7">
    <h1 class="text-3xl font-bold text-green-600 text-center">Login Now</h1>
    <form [formGroup]="login" (ngSubmit)="SendLoginForm()">
        @if ( msgError ) {
        <div id="alert-border-2 "
            class="flex items-center p-4 my-4 text-red-800 border-t-2 border-red-300 bg-red-50 dark:text-yellow-300 dark:bg-gray-800 dark:border-yellow-800"
            role="alert">
            <svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <div class="ms-2 text-sm font-medium">
                {{msgError}}
            </div>
        </div>
        }
        <div class="mb-2">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-700 ">E-mail</label>
            <input formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-100 focus:border-green-500 block w-full p-2.5 ">
            @if ( login.get('email')?.errors && login.get('email')?.touched ) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class=" list-disc list-inside">
                        @if ( login.get('email')?.getError('required') ) {
                        <li>Email is Required!</li>
                        }
                        @else if ( login.get('email')?.getError('email') ) {
                        <li>Enter a Valid Email!</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
        <div class="mb-2">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-700 ">Password</label>
            <input formControlName="password" type="password" id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-100 focus:border-green-500 block w-full p-2.5 ">
            @if (login.get('password')?.errors && login.get('password')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class=" list-disc list-inside">
                        @if ( login.get('password')?.getError('required') ) {
                        <li>Password is Required!</li>
                        }
                        @else if ( login.get('password')?.getError('minlength') ) {
                        <li>must be at least 8 chars!</li>
                        }
                        @else if ( login.get('password')?.getError('pattern') ) {
                        <li> password must start with upperCase and any numbers!</li>
                        }
                    </ul>
                </div>
            </div>
            }
            @if (login.get('email')?.value) {
                <button routerLink="/ForgetPassword" class="mt-3 text-sm text-green-600 underline cursor-pointer hover:text-gray-500 duration-200">
                    Forget Password ?
                </button>
            }
            
        </div>

        <div class="flex justify-center">
            @if (login.get('email')?.value && login.get('password')?.value) {
            <button 
                type="submit" 
                class=" btn-main">
                Login
            </button>
        }
        </div>
        
    </form>
</section>

@if( isLoading ){
<div class=" absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <span class="loader"></span>
</div>
}